#tasks {
  .tbl-task {
    .redmine_id {
      width: 10%;
      text-align: left;
    }

    .task_name {
      width: 20%;
      text-align: left;
    }

    .task_progress, .update, .task_status, .estimated_time, .spent_time {
      width: 10%;
      text-align: center;
    }

    .assign_user {
      width: 20%;
    }

    .select-assign {
      padding: 0px !important;
      width: 100%;
      height: 20px;
    }
  }
}

#task-show {
  margin-top: -30px;
  .breadcrumb-paths {
    display: inline-block;
    font-weight: 600;
    .list {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .breadcrumb{
      font-size: 120%;
      list-style: none;
      background-color: #F6F8F8;
      li {
        font-size: 95%;
        a {
          color: #21abc7;
        }
        a:hover {
          color: #212BC7;
          opacity: 0.75;
        }
      }
    }

    .mts {
      margin-top: 0.625em;
    }
  }

  .task-action {
    ul {
      list-style-type: none;
      li {
        display: inline-block;
      }
    }
  }

  .well {
    width: 100%;
    margin: 1.25em 0;
    min-height: 20px;
    padding: 19px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    .progress {
      background-color: #8E8484;
    }
  }

  .cell {
    position: relative;
  }

  .task-attributes {
    float: left;
    box-shadow: 1px 2px #8E8484;
    .task-name {
      font-size: 150%;
      margin-bottom: 20px;
    }
    div {
      margin-bottom: 10px;
    }
  }

  .grid-box-4 {
    width: 37%;
    float: right;
    float: top;
    .row-action {
      display: block-inline;
      li {
        border: 1px solid #21abc7;
        border-radius: 15px;
        padding: 5px 30px;
        margin-left: 5%;
        font-weight: 600;
        a {
          padding: 0px 20px;
        }
      }
      li:hover {
        background-color: #56BED3;
        a {
          color: white;
        }
      }
    }

    .well {
      box-shadow: 1px 2px #8E8484;
    }

    .row {
      .col-md-6 {
        padding-left: 0;
      }
      .color-green {
        color: #1EA600;
      }
      .color-gray {
        color: #aebdc1;
      }
      .color-red {
        color: #A60000;
      }
      .color-blue {
        color: #0600A6;
      }
    }
  }

  .grid-box-6 {
    width: 60%;
  }
}

#edit-user-task {
  input, select {
    margin: 20px 0;
    border-radius: 5px;
  }

  .btn, .btn-primary {
    margin-left: 45%;
  }
}
